<footer class="short bg-secondary-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <span class="sub">© Copright 2014 XYSec Labs Pte. Ltd.</span>
                <ul>
                    <!-- <li><a href="terms.html">Terms Of Use</a></li> -->
                    <li><a href="https://www.appknox.com/privacy/">Privacy &amp; Security Statement</a></li>
                    <!-- <li><a href="press.html">Press Kit</a></li> -->
                    <li><a href="https://www.appknox.com/contact/">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
