<div class="loader">
    <h1>Loading</h1>
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="nav-container">
    <nav class="top-bar overlay-bar">
        <div class="container">
            <div class="row nav-menu">
                <div class="col-sm-3 columns">
                    <a href="https://www.appknox.com">
                        <img class="logo logo-light" alt="Logo" src="{{asset 'img/logo-dark.png'}}">
                        <img class="logo logo-dark" alt="Logo" src="{{asset 'img/logo-dark.png'}}">
                    </a>
                </div>
                <div class="col-sm-7 columns">
                    <ul class="menu">
                        <li><a href="https://www.appknox.com">Home</a></li>
                        <li><a href="https://www.appknox.com/features">Features</a></li>
                        <li><a href="https://blog.appknox.com/">Blog</a></li>
                        <li><a href="https://www.appknox.com/contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-sm-2 columns text-right">
                    <ul class="social-icons text-right">
                        <li>
                            <a href="https://twitter.com/appknox">
                                <i class="icon social_twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/appknox">
                                <i class="icon social_facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mobile-toggle">
                <i class="icon icon_menu"></i>
            </div>
        </div>
    </nav>
</div>
