<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
        <ul class="pager">
          {{#if prev}}
            <li class="previous"><a href="{{page_url prev}}" class="btn btn-primary btn-white"><span aria-hidden="true">&larr;</span>Newer</a></li>
          {{else}}
            <li class="previous"><a href="#" class="btn btn-primary btn-white"><span aria-hidden="true">&larr;</span>Newest</a></li>
          {{/if}}

          {{#if next}}
            <li class="next"><a href="{{page_url next}}" class="btn btn-primary btn-white">Older<span aria-hidden="true">&rarr;</span></a></li>
          {{else}}
            <li class="next"><a href="#" class="btn btn-primary btn-white">Oldest<span aria-hidden="true">&rarr;</span></a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</section>
