<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div id="disqus_thread">
                <a href="#" onclick="loadDisqus();return false;"><i class="fa fa-comments"></i>Load Discuss</a>
            </div>
        </div>
    </div>
</div>