<div class="sidebar-widget">
  <h5>Subscribe For Updates</h5>
  <form class="mail-list-subscribe">
    <div>
      <input type="text" class="subscribe-email-field validate-required validate-email" placeholder="Enter your email here">
    </div>
    
    <div>
      <input type="submit" class="btn btn-primary btn-filled" value="Subscribe">
    </div>
  </form>
</div>