<div class="sidebar-widget">
  <h5>Twitter</h5>
  <a class="twitter-follow-button" href="https://twitter.com/appknox" data-show-count="true" data-lang="en">
    Follow @appknox
  </a>

  <div id="tweets" data-widget-id="570018399682457600"></div>
</div>
