.author-details .author-img {
  width: 100px;
  height: 100px;
  border: #fff 5px solid;
}
.author-img {
  border-radius: 100%;
}
#disqus_thread { text-align:center;  }

#disqus_thread .fa { padding: 0 10px 0 0; }