a, a:focus, blockquote p:after, .share a:hover, .site-footer a:hover, ul.menu li a:hover, ul.menu li a.active { color: #d74456; }

blockquote:before, blockquote:after, ul.check-list li i, .mapswitch-inner:before, .mapswitch-switch, .subscribe:hover, .site-head, a#open-menu-item, .panel-default>.panel-heading, table th { background-color: #d74456; }

.mapswitch-switch, .subscribe:hover, .post-progress { border-color: #d74456; }

#main-menu { background:rgba(215,68,86,0.8);  }

a:hover { color: #c43446; }, .author .author-email a:hover  { color: #c43446; }

#toTop:hover { border-color: #c43446; background-color: #c43446; }

#main-menu, #main-menu ul.menu li a, #main-menu ul.menu li:first-child a { border-color:#cf3a4d; }