a, a:focus, blockquote p:after, .share a:hover, .site-footer a:hover, ul.menu li a:hover, ul.menu li a.active { color: #f26d7d; }

blockquote:before, blockquote:after, ul.check-list li i, .mapswitch-inner:before, .mapswitch-switch, .subscribe:hover, .site-head, a#open-menu-item, .panel-default>.panel-heading, table th { background-color: #f26d7d; }

.mapswitch-switch, .subscribe:hover, .post-progress { border-color: #f26d7d; }

#main-menu { background:rgba(242,109,125,0.8);  }

a:hover { color: #cc515f; }, .author .author-email a:hover  { color: #cc515f; }

#toTop:hover { border-color: #cc515f; background-color: #cc515f; }

#main-menu, #main-menu ul.menu li a, #main-menu ul.menu li:first-child a { border-color:#fa7383; }