a, a:focus, blockquote p:after, .share a:hover, .site-footer a:hover, ul.menu li a:hover, ul.menu li a.active { color: #1abc9c; }

blockquote:before, blockquote:after, ul.check-list li i, .mapswitch-inner:before, .mapswitch-switch, .subscribe:hover, .site-head, a#open-menu-item, .panel-default>.panel-heading, table th { background-color: #1abc9c; }

.mapswitch-switch, .subscribe:hover, .post-progress { border-color: #1abc9c; }

#main-menu { background:rgba(26,188,156,0.8);  }

a:hover { color: #16a085; }, .author .author-email a:hover  { color: #16a085; }

#toTop:hover { border-color: #16a085; background-color: #16a085; }

#main-menu, #main-menu ul.menu li a, #main-menu ul.menu li:first-child a { border-color:#1dc5a4; }