a, a:focus, blockquote p:after, .share a:hover, .site-footer a:hover, ul.menu li a:hover, ul.menu li a.active { color: #2ecc71; }

blockquote:before, blockquote:after, ul.check-list li i, .mapswitch-inner:before, .mapswitch-switch, .subscribe:hover, .site-head, a#open-menu-item, .panel-default>.panel-heading, table th { background-color: #2ecc71; }

.mapswitch-switch, .subscribe:hover, .post-progress { border-color: #2ecc71; }

#main-menu { background:rgba(46,204,113,0.8);  }

a:hover { color: #22ae69; }, .author .author-email a:hover  { color: #22ae69; }

#toTop:hover { border-color: #22ae69; background-color: #22ae69; }

#main-menu, #main-menu ul.menu li a, #main-menu ul.menu li:first-child a { border-color:#32de7b ; }