a, a:focus, blockquote p:after, .share a:hover, .site-footer a:hover, ul.menu li a:hover, ul.menu li a.active { color: #a66bbe; }

blockquote:before, blockquote:after, ul.check-list li i, .mapswitch-inner:before, .mapswitch-switch, .subscribe:hover, .site-head, a#open-menu-item, .panel-default>.panel-heading, table th { background-color: #a66bbe; }

.mapswitch-switch, .subscribe:hover, .post-progress { border-color: #a66bbe; }

#main-menu { background:rgba(166,107,190,0.8);  }

a:hover { color: #9b50ba; }, .author .author-email a:hover  { color: #9b50ba; }

#toTop:hover { border-color: #9b50ba; background-color: #9b50ba; }

#main-menu, #main-menu ul.menu li a, #main-menu ul.menu li:first-child a { border-color:#af71c8; }